{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ settings.APP_NAME }}</title>
    <meta name="author" content="Daniel Proaño C" />
    {% comment %} <link rel="canonical" href="{{request.path}}" />{% endcomment %}
    {% comment %} <link rel="home" href="{% url 'home:index' %}" />  {% endcomment %}
    <meta name="description" content="{%block description%}{% endblock%}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon.jpg' %}">
    <link rel="apple-touch-icon" type="image/jpg" href="{% static 'images/icon.jpg' %}">

    <!-- ================================
    Start CSS
    ================================= -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'home/styles.css' %}" rel="stylesheet">
    {% block extend_header%}{%endblock%}
    <!-- ================================
    End CSS
    ================================= -->
  </head>
  <body>
    {% include 'home/partials/messages.html' %}
    {% include 'home/partials/nav.html' %}

    {% block content %}
    {% endblock %}

    {% include 'home/partials/footer.html' %}

    <!-- ================================
    Start Scripts
    ================================= -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block extend_footer %}
    {% endblock %}
    <!-- ================================
    End Scripts
    ================================= -->
  </body>
</html>
