{% extends "base.html" %}
{% load static %}

{% block content %}
	<div id="clock"></div>
    <div id="date_lbl">{% now "F jS, Y" %}</div>

    <p>Time Remaining: <span id="time-remaining"></span></p>
    <script>
        var end_time_str = "{{ current_cycle.end_time|date:'c' }}";
    </script>
{% endblock %}


{% block extend_footer %}
    <script src="{% static 'home/clock.js' %}"></script>
{%endblock%}

    {% comment %} <script>
        function updateTimer() {
            console.log("try to update timer")
            var end_time_str = "{{ current_cycle.end_time|date:'c' }}";
            var end_time = new Date(end_time_str);
            var remaining = Math.floor((end_time - new Date()) / 1000);
            var hours = Math.floor(remaining / 3600);
            var minutes = Math.floor((remaining % 3600) / 60).toString().padStart(2, '0');
            var seconds = (remaining % 60).toString().padStart(2, '0');
            var display = hours + ":" + minutes + ":" + seconds;
            document.getElementById("time-remaining").textContent = display;
        }
    </script>
    setInterval(updateTimer, 450); {% endcomment %}