{% extends "base.html" %}
{% load tz %}
{% load static %}
{% load format_data_tags %}

{% block content %}

    <section id="In Progress Task">
        {% if task_in_progress %}
        <div class="container my-1">
            <div class="row">
                <div class="col-md-10">
                <h3 class="mx-1"><strong>Current Task: </strong><a href="{% url 'tasks:task_update' task_in_progress.pk %}">{{task_in_progress.title}}</a></h3>
                </div>
            </div>
        </div>
        <hr style="border-top: 3px solid black;">
        {% endif %}
    </section>
        
        <section id="Goals">
            <div class="container my-3">
                <div class="row">
                    <div class="col-md-10">
                    <h1 class="mx-1">Goals <span class="badge bg-secondary">{{milestones_for_today|length}}</span></h1>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            {% for milestone in milestones_for_today %}
                            <div class="accordion-item my-2">
                                <h2 class="accordion-header ">

                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-{{milestone.pk}}" aria-expanded="true"
                                        aria-controls="panelsStayOpen-{{milestone.pk}}">
                                        {{milestone.title}}
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{milestone.tasks.all|length}}
                                            <span class="visually-hidden">unread messages</span></span>
                                    </button>

                                </h2>

                                <div id="panelsStayOpen-{{milestone.pk}}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        {{milestone.description|default:''}}
                                        <ol class="list-group list-group-numbered my-2">
                                            {% for task in milestone.tasks.all|dictsort:"status" %}   
                                            <div class="work-item ">
                                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                                    <div class="container {% if task.status == 3%}completed{% else %}in-progress{% endif %}">
                                                        <div class="row ">
                                                            <div class="col-md-6 ">
                                                                    <div class="fw-bold title">
                                                                        <a href="{% url 'tasks:task_update' task.pk %}">
                                                                        {{task.title}}
                                                                        </a>
                                                                    </div>
                                                                    {{ task.description|default:'' }}
                                                                    <p>
                                                                        <span class="label"><strong>Status:</strong></span>
                                                                        <span class="status" id = "status_{{task.pk}}">{{ task.status|status_display }}</span>
                                                                        <span class="label"><strong>Priority:</strong></span>
                                                                        <span class="priority">{{ task.priority }}</span>
                                                                        <span class="label"><strong>Duration:</strong></span>
                                                                        <span class="duration">{{ task.estimated_duration }}</span>
                                                                    </p>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},1)'
                                                                    role="button">In Progress</a>

                                                                <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},2)'
                                                                    role="button">To Do</a>

                                                                <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},3)'
                                                                    role="button">Completed</a>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <form action="" id="myForm">
                                                                    <label for="dues">Due:</label>
                                                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="task_due" id="task_due" onchange="updateTaskDueDate({{task.pk}}, this)">
                                                                        <option value="1" {% if task.due_date == 1 %}selected{% endif %}>Today</option>
                                                                        <option value="2" {% if task.due_date == 2 %}selected{% endif %}>Tomorrow</option>
                                                                        <option value="3" {% if task.due_date == 3 %}selected{% endif %}>This Cycle</option>
                                                                        <option value="4" {% if task.due_date == 4 %}selected{% endif %}>Next Cycle</option>
                                                                        <option value="5" {% if task.due_date == 5 %}selected{% endif %}>Unplanned</option>
                                                                        <option value="6" {% if task.due_date == 6 %}selected{% endif %}>Completed</option>
                                                                    </select>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 my-1 mx-1 ms-auto d-flex justify-content-end">
                                            <a href="{% url 'tasks:milestone_single_delete' pk=milestone.id  %}"><button class="btn btn-primary w-200 mx-1"><i class="bi bi-trash"></i></button></a>
                                            <a href="{% url 'tasks:milestone_single_update' pk=milestone.id  %}"><button class="btn btn-primary w-200 mx-1"><i class="bi bi-pencil-square"></i></button></a>
                                            <a href="{% url 'tasks:task_create_alone' %}"><button class="btn btn-primary w-200 mx-1"><i class="bi bi-plus-square-fill"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            <div class="row">
                                <div class="col-md-4 my-15 ms-auto d-flex justify-content-end ">
                                    <a href="{% url 'tasks:milestone_single_create' %}"><button class="btn btn-primary position-relative start-0"> New Milestone</button></a>
                                </div>
                            </div>

                            <div class="accordion-item my-2">
                                <h2 class="accordion-header ">

                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Independent Tasks
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">{{ tasks_without_milestones|length }}
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </button>

                                </h2>

                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <ol class="list-group list-group-numbered my-2">
                                            {% for task in tasks_without_milestones  %}                                            
                                                <div class="work-item">
                                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="container {% if task.status == 3%}completed{% else %}in-progress{% endif %}">
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                        <div class="fw-bold title">
                                                                            <a href="{% url 'tasks:task_update' task.pk %}">
                                                                            {{task.title}}
                                                                            </a>
                                                                        </div>
                                                                        {{ task.description|default:'' }}
                                                                        <p>
                                                                            <span class="label"><strong>Status:</strong></span>
                                                                            <span class="status" id = "status_{{task.pk}}">{{ task.status|status_display }}</span>
                                                                            <span class="label"><strong>Priority:</strong></span>
                                                                            <span class="priority">{{ task.priority }}</span>
                                                                            <span class="label"><strong>Duration:</strong></span>
                                                                            <span class="duration">{{ task.estimated_duration }}</span>
                                                                        </p>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},1)'
                                                                        role="button">In Progress</a>
    
                                                                    <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},2)'
                                                                        role="button">To Do</a>
    
                                                                    <a class="btn btn-outline-primary" onclick='updateStatus( {{task.pk}},3)'
                                                                        role="button">Completed</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </div>
                                            {% endfor %}
                                        </ol>
                                    </div>
                                    <div class="col-md-2 my-1 mx-1 ms-auto d-flex justify-content-end">
                                        <button class="btn btn-primary" onclick="navigateToCreateTask('{% url 'tasks:task_create_alone' %}')">New Task</button>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </section>
        <hr style="border-top: 3px solid black;">

        <section id="Work_Sessions">
            <div class="container ws_container my-3 ">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row justify-content-between">
                            <div class="col-md-5">
                                <div class="row">
                                    <h1>Current Work Session</h1>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card text-center">
                                            <div class="card-body">
                                                <div class="container">
                                                    <div class="row">

                                                        <div id="work_session-container">
                                                            {% timezone "America/Guayaquil" %}
                                                            <h4>Start Time:</h4>
                                                                <p id="work_session_start_time">{{ current_work_session.start_time|date:"H:i" }}</p>
                                                            {% endtimezone %}
                                                            <h4>Duration:</h4>
                                                            <span id="work_session_chronometer"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-md-4 my-15 ms-auto d-flex justify-content-end ">
                                        <button class="btn btn-danger mx-1" id="start-work-cycle-btn">Start Cycle</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row justify-content-end">
                                    <h2>Work Sessions</h2>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="card ws_list_container">
                                        <ul class="list-group list-group-flush">
                                            {% for work_session in today_work_sessions  %}
                                            <li class="list-group-item jus"> <strong> Start Time: </strong> {{work_session.start_time|timezone:"Etc/GMT+5"|date:"g:i a"}}<br><strong>End Time: </strong>{{work_session.end_time|timezone:"Etc/GMT+5"|date:"g:i a"}}<br><strong>Duration: </strong>{{work_session.duration}}</li>
                                            {% empty %}
                                            <li class="list-group-item jus"> <strong> Not work sessions today yet </strong></li>
                                            {% endfor %}
                                            
                                        </ul>
                                        <div class="card-footer">
                                            Total Time: {{today_total_work_session_duration}}
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr style="border-top: 3px solid black;">

        <section id="Events">
            <div class="container my-3">
                <div class="row">
                    <div class="col-md-10">
                       <h1 class="mx-1">Events</h1>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            {% for event_type in regular_events %}
                            <div class="accordion-item my-2">
                                <h2 class="accordion-header ">
                                    <div class="row justify-content-end">
                                        <div class="col-md-10">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseEvent-{{event_type.pk}}" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseEvent-{{event_type.pk}}">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary"id="event-counter-{{event_type.pk}}">{{event_type.events.all|length}}</span>
                                        {{event_type.title}}
                                    </button>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn btn-primary" id="create-work-session" onclick="RegisterEvent({{ event_type.pk }})">Register</div>
                                        </div>
        
                                    </div>
                                    
        
                                </h2>
        
                                <div id="panelsStayOpen-collapseEvent-{{event_type.pk}}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <ol class="list-group list my-2" id="event-list-{{event_type.pk}}">
                                            {% for event_register in event_type.events.all %}
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <div class="fw-bold">
                                                                {{event_type.title}}
                                                            </div>
                                                            {{event_register.date|date:"g:i a"}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% empty %}
                                            {% endfor %}
                                            </ol>
                                        </div>
                                </div>
                            </div>
                            {% empty %}
                                No regular events
                            {% endfor %}
        
                        </div>
                        <div class="row d-none">
                            <div class="col-md-4 my-15 ms-auto d-flex justify-content-end ">
                                <button class="btn btn-primary position-relative start-0"> New Event Type</button>
                            </div>
                        </div>
        
        
                    </div>
                </div>
            </div>
        </section>

        <hr style="border-top: 3px solid black;">

{% endblock %}

{% block extend_footer %}
<script>
    const djangoData = {
        csrfToken: "{{ csrf_token }}",
        workSessionStartTime: {{ work_session_start_time|default:"null" }},
        startWorkSessionUrl: "{% url 'personal:start_work_session' %}",
        stopWorkSessionUrl: "{% url 'personal:stop_work_session' %}",
    };

</script>

<script>
    function navigateToCreateTask(createTaskUrl) {
        location.href = createTaskUrl;
    }
    </script>


    <script>
        const djangoTaskData = {
            taskUpdateStatusUrl: "{% url 'tasks:task_update_status' %}",
            csrfToken: "{{ csrf_token }}",
          };
        </script>
    

<script src="{% static 'personal/work_cycle.js' %}"></script>
<script src="{% static 'personal/events.js' %}"></script>
<script src="{% static 'tasks/task_handling.js' %}"></script>
{%endblock%}