{% load static %}
<html>
<head>
    <title>{{ settings.APP_NAME }}</title>
    <link href="{% static 'home/styles.css' %}" rel="stylesheet">
    <script src="{% static 'home/clock.js' %}"></script>
</head>

    

<body onload="displayTime()">
	<div id="clock"></div>
    <p><b>Current Date-Time: </b>{% now "jS F Y" %}</p>


{% if user.is_authenticated %}
<p>Authenticated as
<pre>
Name: {{ user.get_full_name }}
Email: {{ user.email }}
Id: {{ user.id }}
</pre>
</p>
<p>You can <a href="/accounts/logout">Logout</a></p>

{% else %}
<p>You can <a href="/accounts/login">Login</a> if you like.</p>
{% endif %}

</body>
</html>

