{% extends "new_base.html" %}
{% load tz %}
{% load static %}

{% block content %}


<body>
    <div id="object-container">
        {% if object %}
            {% timezone "America/Guayaquil" %}
             <p>Start Time: {{ object.start_time|date:"H:i" }}</p>
            {% endtimezone %}

            <span id="chronometer">00:00:00</span>
        {% endif %}  
    </div>

    <div id="start-time-container"></div>

    <button id="create-object-btn">Start Cycle</button>



    <script>
        const djangoData = {
            startTime: {{ start_time|default:"null" }},
            csrfToken: "{{ csrf_token }}",
            startCycleUrl: "{% url 'personal:start_cycle' %}",
            stopCycleUrl: "{% url 'personal:stop_cycle' %}",
        };
    </script>
</body>
</html>

{% endblock %}




{% block extend_footer %}
<script src="{% static 'home/test.js' %}"></script>
{%endblock%}







