{% extends "base.html" %} {% load static %} {% block content %}
<h1>Personal Page</h1>

{% if current_cycle %}
<h1>Current Cycle</h1>
<p>Start Time: {{ current_cycle.start_time }}</p>
<p>End Time: {{ current_cycle.end_time }}</p>
<p>Time Remaining: <span id="time-remaining"></span></p>
{% else %}
<h1>No Active Cycle</h1>
<button id="start-work-cycle-btn" onclick="createObject()">Start Cycle</button>
{% endif %}

<div id="work_session_section">
  <h1>Work Session</h1>
  <p>Start Time: {{ work_session.start_time }}</p>
  <p>Duration: <span id="current_work_session_duration"></span></p>
  <button class="btn btn-primary" id="ctrl_work_session">Start</button>
</div>

<h1>Challenges</h1>
{% for challenge in challenges %}
<p>{{challenge.title}} - {{challenge.duration}}</p>
{% endfor %}

<h1>Events</h1>
{% for event in events %}
<p>{{event.title}} - {{event.date}}</p>
{% endfor %}

<h1>Day Register</h1>
{% for day in days %}
<p>{{day.date}}- {{day.note}}</p>
<p>{{day.comment}}</p>
{% endfor %}

<h1>Dates</h1>
{% for date in dates %}
<p>{{date.title}} - {{date.date}}</p>
{% endfor %} {% endblock %} {% block extend_footer %}
<script>
  var end_time_str = "{{ current_cycle.end_time|date:'c' }}";
  var current_session_start_str = "{{ work_session.start_time|date:'c' }}";

  function createSession() {
    fetch(`create-cycle`, {})
      .then((response) => response.json())
      .then((data) => {
        // Object created successfully, update the page as needed
      })
      .catch((error) => {
        // Handle any errors that occurred during the fetch request
      });
  }
</script>

<script src="{% static 'personal/functions.js' %}"></script>
{%endblock%}
