{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Personal Page</h1>
    
    <h1>Current Cycle</h1>
    {% if current_cycle %}
    <p>Start Time: {{ current_cycle.start_time }}</p>
    <p>End Time: {{ current_cycle.end_time }}</p>
    <p>Time Remaining: <span id="time-remaining"></span></p>
    {% else %}
    <h1>No Active Cycle</h1>
    <a href="{% url 'personal:current_cycle' %}">Get Current Cycle</a>
    {% endif %}

    <h1>Work Session</h1>
    <p>Start Time: {{ work_session.start_time }}</p>
    <p>Duration: <span id="current_work_session_duration"></span></p>
    
    <h1>Challenges</h1>
    {% for challenge in challenges %}
    <p>{{challenge.title}} - {{challenge.duration}}</p>
    {% endfor %}
    
    <h1>Events</h1>
    {% for event in events %}
    <p>{{event.title}} - {{event.date}}</p>
    {% endfor %}
    
    <h1>Day Register</h1>
    {% for day in days %}
        <p>{{day.date}}- {{day.note}}</p>
        <p>{{day.comment}}</p>
    {% endfor %}

    <h1>Dates</h1>
    {% for date in dates %}
        <p>{{date.title}} - {{date.date}}</p>
    {% endfor %}

    
    <button onclick="start_cycle()">Start Cycle</button>

    <script>
        function start_cycle(){
            console.log("start cycle");
        }
    </script>
{% endblock %}


{% block extend_footer %}
<script>
    function updateCycleTimer() {
        var end_time_str = "{{ current_cycle.end_time|date:'c' }}";
        var end_time = new Date(end_time_str);
        var remaining = Math.floor((end_time - new Date()) / 1000);
        var hours = Math.floor(remaining / 3600);
        var minutes = Math.floor((remaining % 3600) / 60).toString().padStart(2, '0');
        var seconds = (remaining % 60).toString().padStart(2, '0');
        var display = hours + ":" + minutes + ":" + seconds;
        document.getElementById("time-remaining").textContent = display;

    }

    function updateWorkSessionTimer() {
        var current_session_start_str = "{{ work_session.start_time|date:'c' }}";
        var current_session_start = new Date(current_session_start_str);
        var current_session_duration = Math.floor((new Date() - current_session_start) / 1000);
        var hours = Math.floor(current_session_duration / 3600);
        var minutes = Math.floor((current_session_duration % 3600) / 60).toString().padStart(2, '0');
        var seconds = (current_session_duration % 60).toString().padStart(2, '0');
        var display = hours + ":" + minutes + ":" + seconds;
        document.getElementById("current_work_session_duration").textContent = display;
    }

    function updateTimers() {
        updateCycleTimer();
        updateWorkSessionTimer();
    }

    setInterval(updateTimers, 450);

</script>
{%endblock%}