{% extends 'base.html' %}

{% block content %}
  <h1>Projects</h1>
  <ul>
    {% for project in object_list %}
      <h3><li><a href="{% url 'tasks:project_detail' project_id=project.pk %}">{{ project.title }}</a></li></h3>
      <a href="{% url 'tasks:project_update' project_id=project.id  %}"><i class="fa fa-pencil"></i>update</a>
      <a href="{% url 'tasks:project_delete' project_id=project.id  %}"><i class="fa fa-trash">delete</i></a>
    {% empty %}
      <li>No projects found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'tasks:project_create' %}">Add a project</a>
{% endblock %}
