{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section id="milestone-detail">
  <div class="container my-1">
    <h1><strong>Milestone: </strong>{{object.title}}</h1> 
    {% if object.project %}
    <h3><strong>Project: </strong><a href="{% url 'tasks:project_update' pk=object.project.id  %}">{{object.project.title}}</a></h3> 
    {% endif %}
    <div class="row my-1">
      <form action="" method="post" id="upload_form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel" onclick="window.location.href='{% url 'tasks:index' %}';return false;">
      </form>
    </div>
    <hr>
    {% if milestone %}
    <div class="row my-1">
      <div class="col-md-4 my-1 mx-1 ms-auto d-flex justify-content-end">
        <a href="{% url 'tasks:milestone_single_delete' milestone.id  %}"><button class="btn btn-primary w-200 mx-1"><i class="bi bi-trash"></i></button></a>
        <a href="{% url 'tasks:task_create_alone' %}"><button class="btn btn-primary w-200 mx-1"><i
          class="bi bi-plus-square-fill"></i></button></a>
        </div>
      </div>
      <div class="container my-1">
        <div class="row">
          <div class="work-items-container">
          <h2> Tasks</h2>
          {% for task in object.tasks.all %}
          <div class="work-item">
            <h2 class="title"><a
              href="{% url 'tasks:task_update'  task.id %}">{{ task.title }}</a></h2>
              <a href="{% url 'tasks:task_update' task.id %}"><i
                class="bi bi-pencil"></i>update</a>
                <a href="{% url 'tasks:milestone_delete' project_id=milestone.project.id pk=milestone.id %}"><i
                  class="bi bi-trash">delete</i></a>
                </div>
                {% empty %}
                <p>No Tasks found.</p>
                {% endfor %}
              </div>
            </div>
      <div class="row my-3">
      </div>
    </div>
    <hr>
    {% endif %}
  </section>

  {% endblock %}