{% extends 'base.html' %}

{% block content %}
  <h1>{{ object.title }}</h1>
  <p><strong>Status:</strong> {{ object.status }} </p>
  <p><strong>Creation time:</strong> {{ object.creation_time }}</p>
  <p><strong>Milestones ({{object.milestones.count}}):</strong></p>
  <ul>
    {% for milestone in object.milestones.all %}
      <h3><li><a href="{% url 'tasks:milestone_detail' milestone.pk %}">{{ milestone.title }} ({{milestone.tasks.count}})</a></li></h3>
      <a href="{% url 'tasks:milestone_update' milestone.id %}"><i class="fa fa-pencil"></i>update</a>
      <a href="{% url 'tasks:milestone_delete' milestone.id %}"><i class="fa fa-trash">delete</i></a>
    {% empty %}
      <li>No milestones found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'tasks:milestone_create' %}">Add a milestone</a>
{% endblock %}