{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Tasks</h1>
  <input type="text" id="title-filter" onkeyup="filterListByTitle()" placeholder="Filter by title...">
  <button onclick="sortListByPriority()">Sort by priority</button>
  <button onclick="sortListByDuration()">Sort by duration</button>
  <button onclick="sortListByStatus()">Sort by status</button>

  <input type="checkbox" name="status" value="TO_DO" onclick="filterListByStatus()" checked> To do
  <input type="checkbox" name="status" value="IN_PROGRESS" onclick="filterListByStatus()" checked> In progress
  <input type="checkbox" name="status" value="CANCELLED" onclick="filterListByStatus()"> Cancelled
  <input type="checkbox" name="status" value="COMPLETED" onclick="filterListByStatus()"> Completed

  <div class="work-items-container">
    {% for task in tasks.all %}
    <div class="work-item">
      <h2 class="title"><a href="{% url 'tasks:task_detail' pk=task.pk %}"><i class="fa fa-trash">{{ task.title }}</i></a></h2>
      <div class="task-info">
        <p>
          <span class="label">Status:</span>
          <span class="status" id = "status_{{task.pk}}">{{ task.status }}</span>
        </p>
        <p>
          <span class="label">Priority:</span>
          <span class="priority">{{ task.priority }}</span>
        </p>
        <p>
          <span class="label">Duration:</span>
          <span class="duration">{{ task.estimated_duration }}</span>
        </p>
      </div>
      <a href="{% url 'tasks:task_update' task.pk %}"><i class="fa fa-trash">update</i></a>
      <button type="submit" class="btn-danger col-3"  onclick='updateStatus( {{task.pk}},"TO_DO")'>To Do</button>
      <button type="submit" class="btn-danger col-3"  onclick='updateStatus( {{task.pk}},"IN_PROGRESS" )'>In Progress</button>
      <button type="submit" class="btn-danger col-3"  onclick='updateStatus( {{task.pk}},"COMPLETED" )'>Completed</button>
    </br>
  </div>
  
  {% empty %}
  <li>No task found.</li>
  {% endfor %}
</div>
<a href="{% url 'tasks:task_create_alone' %}">Add a task</a>

{% endblock %}

{% block extend_footer %}
<script src="{% static 'tasks/functions.js' %}"></script>
{% endblock %}
