{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<a href="{% url 'tasks:task_update' object.pk %}"><i class="fa fa-trash">update</i></a>
<p><strong>Status:</strong> {{ object.status }}</p>
<p><strong>Creation time:</strong> {{ object.creation_time }}</p>

{% if object.milestone %}
    <a href="{% url 'tasks:milestone_detail' object.milestone.project.id object.milestone.id%}">Return to milestone</a>
    <a href="{% url 'tasks:project_detail' object.milestone.project.id %}">Return to project</a>
{% endif %}

{% endblock %}
