{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Tasks</h1>
  <input type="text" id="title-filter" onkeyup="filterListByTitle()" placeholder="Filter by title...">
  <button onclick="sortListByPriority()">Sort by priority</button>
  <button onclick="sortListByDuration()">Sort by duration</button>
  <button onclick="sortListByStatus()">Sort by status</button>

  <input type="checkbox" name="status" value="TO_DO" onclick="filterListByStatus()" checked> To do
  <input type="checkbox" name="status" value="IN_PROGRESS" onclick="filterListByStatus()" checked> In progress
  <input type="checkbox" name="status" value="CANCELLED" onclick="filterListByStatus()"> Cancelled
  <input type="checkbox" name="status" value="COMPLETED" onclick="filterListByStatus()"> Completed

  <div class="work-items-container">
    {% for task in tasks.all %}
    <div class="work-item">
      <h2 class="title"><a href="{% url 'tasks:task_detail' pk=task.pk %}"><i class="fa fa-trash">{{ task.title }}</i></a></h2>
      <p>Duration: <div class="duration">{{ task.estimated_duration }}</div></p>
      <p class="status">{{ task.status }}</p> <p class="priority">{{ task.priority }}</p>
      <a href="{% url 'tasks:task_update_status' task.pk %}"><i class="fa fa-trash">update</i></a> 
    </br>
  </div>
  
  {% empty %}
  <li>No task found.</li>
  {% endfor %}
</div>
<a href="{% url 'tasks:task_create_alone' %}">Add a task</a>

{% endblock %}

{% block extend_footer %}
<script src="{% static 'tasks/functions.js' %}"></script>
{% endblock %}

{% comment %} <a href="{% url 'tasks:task_update' project_id=object.project.id milestone_id=object.id pk=task.pk %}"><i class="fa fa-trash">update</i></a> 
<a href="{% url 'tasks:task_delete' pk=task.pk %}"><i class="fa fa-trash">delete</i></a> 
  <a href="{% url 'tasks:task_delete' project_id=object.project.id milestone_id=object.id pk=task.pk %}"><i class="fa fa-trash">delete</i></a>  {% endcomment %}