{% load static %}
<!-- ================================
Start Footer
================================= -->
<ul class="">
    <li><a href="javascript:void(0)"><img src="{% static 'home/images/fb.svg' %}" alt="..."></a></li>
    <li><a href="javascript:void(0)"><img src="{% static 'home/images/insta.svg' %}" alt="..."></a></li>
    <li><a href="javascript:void(0)"><img src="{% static 'home/images/twitter.svg' %}" alt="..."></a></li>
    <li><a href="javascript:void(0)"><img src="{% static 'home/images/linkedin.svg' %}" alt="..."></a></li>
</ul>
<div class="">
    <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by QuitoLightOfTheWorld</a></p>
</div>
<!-- ================================
End Footer
================================= -->