{% load static %}
<!-- ================================
Start Navigation Bar
================================= -->

<div id='header_logo'>
    <a href="{% url 'home:index' %}"><img src="{% static 'home/images/99_logo.png' %}" alt="..." width=128></a>
</div>
<div>
    <ul id='header_options'>
        <li><a href="{%url 'home:index'%}">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="{%url 'tasks:index' %}">Tasks</a></li>
            <li><a href="{%url 'home:index' %}">Blog</a></li>
            <li><a href="{%url 'home:index'%}">Contact</a></li>
            <li><a href="{%url 'home:logout'%}">Logout</a></li>
        {% else %}
            <li><a href="{%url 'home:login' %}">LogIn</a></li>
        {% endif %}
    </ul>
</div>
<!-- ================================
End Navigation Bar
================================= -->